* {
    box-sizing: border-box;
    text-align: center;
    background-color: #040035;
}

body {
    margin-top: 15%;
}

.clock {
    font-size: 2em;
    color: #ffffff;
    font-weight: 500;
}

h1 {
    color: aliceblue;
    font-size: 3em;
}